@media print{  /*Midia para impressora*/

}

@media screen and (min-width:768px) and (max-width:992px){  /*Midia para tablet*/
    body {
        background: black url(../../img/back-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#tv{display: none;}
    img#pc{display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px){  /*Desketop*/
    body {
        background: black url(../../img/back-pc.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#tv{display: none;}
    img#pc{display: block;}
}

@media screen and (min-width:1200px){  /*Grandes telas*/
    body {
        background: black url(../../img/icon-tv.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#tv{display: block;}
    img#pc{display: none;}
}